@import "_reset";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//Variables
$primary-color: rgb(141, 214, 134);
$darker-primary-color: rgb(60, 80, 58);
$secondary-color: rgb(35, 152, 230);
$darker-secondary-color: rgb(26, 116, 177);
$light-text-color: grey;
$dark-text-color: rgb(95, 95, 95);

$stroke-width: 4px;

$breakpoint-mobile: 768px;
$main-container-width: 1200px;

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: $dark-text-color;
}

header {
    position: relative;
    height: 80vh;
    width: 100%;

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        // box-shadow: 0 2px 40px rgba($light-text-color, 0.5);

        #nav-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            i {
                cursor: pointer;
                padding: 16px;
            }

            #top-nav {
                display: flex;
                flex-direction: column;
                transform: translateX(120px);
                transition: 0.1s all ease-in;
                background-color: lighten($primary-color, 50%);
                box-shadow: 0px 2px 4px rgba($light-text-color, 0.5);

                .dots {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 4px;
                    padding: 16px 7px;
                    padding-bottom: 0;

                    div {
                        width: 9px;
                        height: 9px;
                        border-radius: 50%;

                        &:nth-of-type(1) {
                            background-color: rgb(228, 92, 92);
                        }

                        &:nth-of-type(2) {
                            background-color: rgb(235, 235, 48);
                        }

                        &:nth-of-type(3) {
                            background-color: rgb(64, 209, 64);
                        }
                    }
                }

                li {
                    padding: 8px 0px;
                    border-top: 1px solid rgba($light-text-color, 0.5);
                    cursor: pointer;
                    transition: 0.3s all ease-in;

                    a {
                        padding-right: 16px;
                    }

                    &:first-of-type {
                        border-top: none;
                        border-right: 16px $primary-color solid;
                        background: white;
                        cursor: default;

                        i {
                            cursor: default;
                        }

                        a {
                            color: $primary-color;
                            font-weight: bold;
                            cursor: default;

                            span {
                                color: $dark-text-color;
                            }
                        }

                        &:hover {
                            background-color: white;

                            a {
                                color: $primary-color;

                                span {
                                    color: $dark-text-color;
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: $primary-color;

                        a {
                            color: white;
                        }
                    }
                }
            }

            &.active {
                #top-nav {
                    transform: translateX(0px);
                    opacity: 1;

                    li {
                        &:first-of-type {
                            background: rgba($light-text-color, 0.2);
                            background: linear-gradient(180deg, white 0%, white 50%, rgba($light-text-color, 0.2) 100%);
                        }
                    }
                }
            }
        }
    }

    #hero {
        width: 100%;
        height: 80vh;
        position: absolute;
        z-index: -1;
        background-color: white;

        .hero-heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: inherit;
            padding: 0 32px;

            h1 {
                font-size: 2.5em;
                font-weight: bold;
                color: white;

                span {
                    color: $primary-color;
                }
            }

            p {
                font-size: 1.2em;
                padding: 8px 0;
                color: lighten($light-text-color, 10%);
            }

            .btn {
                padding: 8px 16px;
                margin: 24px 0;
                align-self: flex-start;
                background-color: $secondary-color;
                border: none;
                border-radius: 4px;
                color: white;
                font-weight: bold;
                transition: 0.2s all ease-in;
                font-size: 1em;
                letter-spacing: 0.05em;
                cursor: pointer;

                &:hover {
                    background-color: $darker-secondary-color;
                }
            }

            @media screen and (min-width:$breakpoint-mobile) {
                h1 {
                    font-size: 5em;
                }

                p {
                    font-size: 1.5em;
                }

                .btn {
                    font-size: 1.1em;
                }
            }
        }
    }

}

#courses {
    padding: 64px 32px;
    width: 100%;
    max-width: $main-container-width;
    margin: 0 auto;
    box-sizing: border-box;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        color: $darker-primary-color;
        margin-bottom: 24px;
        line-height: 120%;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        .card {
            width: 100%;
            flex-grow: 1;
            box-shadow: 0px 0px 4px rgba($light-text-color, 0.5);
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            img {
                width: 100%;
                height: 240px;
                object-fit: cover;
                object-position: center;
            }

            h3 {
                font-weight: bold;
                font-size: 1.2em;
                padding: 4px 16px;
                padding-top: 16px;
            }

            .sub-caption {
                padding: 4px 16px;
                color: $dark-text-color;
                line-height: 150%;
            }

            .instructor,
            .hours {
                color: $light-text-color;
                font-weight: 300;
                font-size: 0.8em;
                padding: 4px 16px;

            }

            .hours {
                padding-bottom: 16px;
            }

            .price {
                font-size: 1.2em;
                padding: 4px 16px;
                font-weight: bold;
                color: $primary-color;
            }

            .line {
                width: calc(100% - 32px);
                align-self: center;
                border-top: 1px solid rgba($light-text-color, 0.2);
            }

            .btn {
                padding: 8px 16px;
                margin: 24px 16px;
                align-self: flex-end;
                cursor: pointer;
                background-color: $secondary-color;
                border: none;
                border-radius: 4px;
                color: white;
                font-weight: bold;
                transition: 0.2s all ease-in;

                &:hover {
                    background-color: $darker-secondary-color;
                }
            }
        }

        @media screen and (min-width: $breakpoint-mobile) {
            flex-direction: row;
            row-gap: 0;
            column-gap: 32px;
        }
    }
}