@import "_reset";
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

//Variables
$primary-color: rgb(35, 152, 230);
$secondary-color: rgb(141, 214, 134);
$light-text-color: grey;
$dark-text-color: rgb(46, 46, 46);

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: $dark-text-color;
}

header {
    position: relative;

    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        #nav-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            i {
                cursor: pointer;
                padding: 16px;

                &.fa-bars {
                    display: block;
                }

                &.fa-times {
                    display: none;
                }
            }

            #top-nav {
                display: flex;
                flex-direction: column;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s all ease-in;
                background-color: lighten($secondary-color, 20%);
                box-shadow: 0px 2px 4px rgba($light-text-color, 0.5);

                li {
                    padding: 8px 16px;
                    border-bottom: 1px solid rgba($light-text-color, 0.5);
                    cursor: pointer;
                    transition: 0.3s all ease-in;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: $primary-color;

                        a {
                            color: white;
                        }
                    }
                }
            }

            &.active {
                i {
                    &.fa-bars {
                        display: none;
                    }

                    &.fa-times {
                        display: block;
                    }
                }

                #top-nav {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    #hero {
        width: 100%;
        height: 80vh;
        background-color: $secondary-color;
    }

}